.logo {
  position: relative;
  margin: 10px; /* Space around the logo */
  max-width: 200px; /* Limit the logo size */
  height: auto; /* Maintain aspect ratio */
  display: flex; 
}

.App {
  text-align: center;
  color: #282c34;
  width: 100%;
  margin: auto;
  background-color: #5D8AA8;
 /* display: flex; /* Use flexbox to center content */
  justify-content: space-between; /* Center horizontally */
  align-items: center; /* Center vertically */

}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  color: black;
  font-size: 3rem;
  margin-bottom: 20px;
}
/* Optionally, style the board container */
.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px; /* Adds spacing between board and other elements */

}

.login-btn {
  background-color: gray;
  color: white;
  font-family: 'Irish Grover';
  font-size: 1.5rem;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.login-btn:hover {
  background-color: darkgray;
}

.countdown-timer {
  font-size: 1.5rem;
  color: red;
  text-align: center;
  margin-bottom: 1rem;
}